$inlineTransition: all .5s ease;

@keyframes moveImg {
    0% {
        transform: scale(1);
        opacity: 1;

        width: 150px;
        height: 150px;
        left: 50%;
        margin-left: -75px;
    }

    35% {
        transform: scale(0);
        opacity: 0;
    }

    75% {
        transform: scale(0);
        opacity: 0;

        width: 150px;
        height: 150px;
        left: 50%;
        margin-left: -75px;
    }

    100% {
        transform: scale(1);
        opacity: 1;
        top: 0;
        left: 0;
    }
}

.recipe {
    min-height: calc(100vh - 80px);
    padding: 40px 0;

    &-content {
        @include flex(center, center);
        position: relative;
        flex-direction: column;
        text-align: center;
        z-index: 1;
        min-height: 800px;

        &::after {
            content: "";
            position: absolute; 
            top: 0; 
            left: 0; 
            width: 100%; 
            height: 100%;
            max-height: 800px;
            z-index: -1;
            background-image: 
              radial-gradient(ellipse closest-side, rgba(15, 14, 22, 0.75), #100e17),
              url(../assets/images/recipe-cover.jpg);
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            opacity: 0.75;
        }
    }
    
    &-img {
        @include flex(center, center);
        width: 150px;
        height: 150px;
        border-radius: 100%;
        overflow: hidden;
        position: absolute;

        transform-origin: center;

        top: -150px;
        left: 50%;
        margin-left: -75px;

        //transition: $inlineTransition;
        //transition-delay: .2s;

        img {
            height: 100%;
            width: auto;
        }
    }

    &-title {
        text-align: center;
        //font-size: 40px;
        font-weight: 700;
        margin-bottom: 0;
        margin-top: 30px;
    
        background: $firstGradient;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        -webkit-box-decoration-break: clone;
        box-decoration-break: clone;
        text-shadow: none;
    }

    &-desc {
        width: 600px;
        color: $color1;
        line-height: 26px;
        margin-bottom: 0;
    }

    &-start {
        width: 100px;
        text-align: center;
        transition: all .5s ease-in-out;

        &--hidden, &--started {
            opacity: 0;
            visibility: hidden;
            transform: translateY(-25px);
        }

        &--started {
            transition-delay: .2s;
            margin-top: -30px;
            transform: translateY(25px);
        }

        &--visible {
            opacity: 1;
            visibility: visible;
            transform: translateY(0px);
        }
    }

    &-inner {
        margin-left: 0;
        transition: $inlineTransition;
        position: relative;
    }

    &-content--inline {
        position: relative;
        
        .recipe-inner {
            @include flex;
            position: relative;
            flex-direction: row;
            text-align: left;
            
            .recipe-img {
                width: 100px;
                height: 100px;
                margin-left: 0;
                animation: moveImg 1s ease forwards;
            }

            .recipe-info {
                margin-left: 130px;
            }

            .recipe-title {
                margin-top: 0;
                text-align: left;
            }
        }

        .author {
            opacity: 1;
            transform: translateY(0);
            visibility: visible;
        }

        .ing-list {
            justify-content: flex-start;
            align-items: flex-start;
            margin-left: 77px;
        }
    }
}

.ing-list {
    @include flex(center, center);
    max-width: 550px;
    list-style: none;
    padding: 0;
    margin-bottom: 25px;

    transition: $inlineTransition;

    &-item {
        margin-right: 25px;
        color: $color1;

        &:nth-child(odd) {
            color: $color2;
            .ing-list-link {
                &::before {
                    background: $color4;
                }
            }
        }
    }

    &-link {
        @include flex(flex-start, center);
        text-decoration: none;
        color: inherit;
        font-size: 12px;
        line-height: 16px;
        margin-bottom: 7px;

        &::before {
            content: '';
            width: 4px;
            height: 4px;
            background: $color3;
            border-radius: 100%;
            margin-right: 7px;
        }
    }
}