.author
    .author-avatar
        img(
            src="/assets/images/author.jpg"
            alt="Sally McGrath" 
            width="60"
            height="60"
        )

    .author-block
        span.author-block-text
            |Sally McGrath
        span.author-block-label
            |Автор
        

    .author-block
        span.author-block-text
            |11
        span.author-block-label
            |Подписчиков
        

    .author-block
        span.author-block-text
            |20
        span.author-block-label
            |Рецептов
        

    .author-block
        span.author-block-text
            |356
        span.author-block-label
            |Отзывов
        