.recipe.flex.flex-center
    .recipe-content.js-recipe-content
        .recipe-inner
            .recipe-img
                img(
                    src="/assets/images/recipe-img.jpg"
                    alt="Куриное филе в азиатском стиле основное фото рецепта" 
                    width="700"
                    height="500"
                )

            .recipe-info
                h1.recipe-title
                    |Куриное филе в азиатском стиле

                p.recipe-desc
                    |Куриное филе, приготовленное по этому рецепту, получается 
                    |необычайно сочным, нежным, с пряным кисло-сладким вкусом.

        ul.ing-list
            li.ing-list-item
                a(href="#").ing-list-link
                    |Куриное филе 600-700г

            li.ing-list-item
                a(href="#").ing-list-link
                    |Семена кунжута 2 ст.л.

            li.ing-list-item
                a(href="#").ing-list-link
                    |Соевый соус 80 мл

            li.ing-list-item
                a(href="#").ing-list-link
                    |Чеснок 2 зуб.

            li.ing-list-item
                a(href="#").ing-list-link
                    |Тертый имбирь 1 ч.л.

            li.ing-list-item
                a(href="#").ing-list-link
                    |Мед 2 ст.л.

            li.ing-list-item
                a(href="#").ing-list-link
                    |Лимонный сок 2 ст.л.

            li.ing-list-item
                a(href="#").ing-list-link
                    |Крахмал 3 ст.л.

            //li.ing-list-item
                a(href="#").ing-list-link
                    |По вкусу чёрный молотый перец, красный молотый перец
                    |растительное масло

        a(href="#").btn.btn-tablet.btn-primary.btn-shadow.recipe-start.js-recipe-start
            i.fas.fa-fire-alt
            span Начать

        a(href="#").btn.btn-text.recipe-start.recipe-start--started.js-recipe-started
            i.fas.fa-hand-peace
            span Удачи !

        include ../common/steps.pug

        include ../common/author.pug