.recipe.flex.flex-center
    .recipe-content
        ul.steps
            li.steps-item.done
                .steps-number 1
                .steps-desc
                    |На сухой сковороде подсушить семена кунжута 
                    |до золотистого оттенка.

            li.steps-item.done
                .steps-number 2
                .steps-desc
                    |В миске смешать семена кунжута, соевый соус, 
                    |мёд, натёртые на тёрке имбирь и чеснок.

                //.steps-images
                    img.steps-image(src="/assets/images/steps/2.jpg", alt="Нарезать на полоски")

            li.steps-item.active
                .steps-number 3
                .steps-desc
                    |Куриное филе нарезать на полоски, посыпать перцем (чёрным и красным), 
                    |сбрызнуть лимонным соком и перемешать. Всыпать крахмал и 
                    |снова перемешать, чтобы все кусочки были покрыты тонким слоем крахмала.

            li.steps-item
                .steps-number 4
                .steps-desc
                    |Кусочки филе поэтапно обжарить в небольшом 
                    |количестве растительного масла. Каждую сторону обжаривать около двух минут.

            li.steps-item
                .steps-number 5
                .steps-desc
                    |В сковороду вылить соус и довести до кипения. 
                    |В соус положить обжаренные кусочки курицы и помешивая 
                    |готовить ещё три минуты. Посыпать зелёным луком или 
                    |другой зеленью и перемешать.

            li.steps-item
                .steps-number 6
                .steps-desc
                    |Лучше всего сочетается с рисом.

