@font-face {
    font-family: "SegoeUIRegular";
    src: url("../assets/fonts/Segoe/SegoeUIRegular/SegoeUIRegular.eot");
    src: url("../assets/fonts/Segoe/SegoeUIRegular/SegoeUIRegular.eot?#iefix")format("embedded-opentype"),
    url("../assets/fonts/Segoe/SegoeUIRegular/SegoeUIRegular.woff") format("woff"),
    url("../assets/fonts/Segoe/SegoeUIRegular/SegoeUIRegular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "SegoeUIBold";
    src: url("../assets/fonts/Segoe/SegoeUIBold/SegoeUIBold.eot");
    src: url("../assets/fonts/Segoe/SegoeUIBold/SegoeUIBold.eot?#iefix")format("embedded-opentype"),
    url("../assets/fonts/Segoe/SegoeUIBold/SegoeUIBold.woff") format("woff"),
    url("../assets/fonts/Segoe/SegoeUIBold/SegoeUIBold.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "SegoeUIItalic";
    src: url("../assets/fonts/Segoe/SegoeUIItalic/SegoeUIItalic.eot");
    src: url("../assets/fonts/Segoe/SegoeUIItalic/SegoeUIItalic.eot?#iefix")format("embedded-opentype"),
    url("../assets/fonts/Segoe/SegoeUIItalic/SegoeUIItalic.woff") format("woff"),
    url("../assets/fonts/Segoe/SegoeUIItalic/SegoeUIItalic.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "SegoeUILight";
    src: url("../assets/fonts/Segoe/SegoeUILight/SegoeUILight.eot");
    src: url("../assets/fonts/Segoe/SegoeUILight/SegoeUILight.eot?#iefix")format("embedded-opentype"),
    url("../assets/fonts/Segoe/SegoeUILight/SegoeUILight.woff") format("woff"),
    url("../assets/fonts/Segoe/SegoeUILight/SegoeUILight.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "SegoeUISemiBold";
    src: url("../assets/fonts/Segoe/SegoeUISemiBold/SegoeUISemiBold.eot");
    src: url("../assets/fonts/Segoe/SegoeUISemiBold/SegoeUISemiBold.eot?#iefix")format("embedded-opentype"),
    url("../assets/fonts/Segoe/SegoeUISemiBold/SegoeUISemiBold.woff") format("woff"),
    url("../assets/fonts/Segoe/SegoeUISemiBold/SegoeUISemiBold.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}