doctype html
html(lang="en")
    head
        meta(charset="utf-8")
        block title
            title Look

    body.flex.flex-center

        .constructor
            .c-body

            .c-sidebar

                .c-sidebar-header
                    .c-sidebar-header__inner
                        a.c-sidebar-header__back(href="#") 
                            |Back

                    .c-sidebar-header__inner
                        h3.c-sidebar-header__title
                            |Категория

                .c-sidebar-body
