doctype html
html(lang="en")
    head
        meta(charset="utf-8")
        block title
            title Look

    body
        .wrapper.flex.flex-center
            //include ../common/recipe.pug
            include ../common/steps.pug