doctype html
html(lang="en")
    head
        meta(charset="utf-8")
        block title
            title Look

    body
        //include ../common/header.pug

        .wrapper.flex.flex-center
            include ../common/recipe.pug
            