body, 
html {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    background: #100E17;
    color: #FFF;
    font-family: "Segoe", sans-serif;
    font-size: 16px;
}

h1, h2, h3, h4 {
    font-family: 'Rubik', sans-serif;
}